.site-header {
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    position: relative;
    font-size: 20px;
    color: #fff;

    &::before {
      position: absolute;
      top: -5px;
      bottom: 0;
      left: -35px;
      content: "";
      display: inline-block;
      margin-left: 10px;
    }

    &::after {
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      background-color: #080;
      height: 3px;
      content: "";
      border-radius: 5px;
      transition: all 0.5s;
    }

    &.active {
      &::before {
        content: "🥘";
      }
      &::after {
        width: 80%;
      }
    }
  }
}
